@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.body {
    font-family: 'Roboto',sans-serif;
    background: #1e1e1eb6;
    overflow-x: hidden;
}

.profile__artist {
    justify-content: center;
    display: flex;
}

.artist {
    background-color: #000;
    width: 70rem;
    height: 20rem;
}

.artist__img {
    width: 70rem;
    height: 20rem;
    opacity: 0.7;
}

.artist__info {    
    display: flex;
}

.artist__img__circle {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 3px solid #FFFF;
    margin-top: -12rem;
    margin-left: 3rem;
    z-index: 1;
}

.text__artist {
    position: relative;
}

.text__artist__title, .text__artist__gender, .text__artist__subtitle {
    letter-spacing: .1em;
    font-size: 18px;    
    color: #FFFF;   
    margin-top: -70px;
    margin-left: 10px;
}

.text__artist__subtitle {
    font-size: 24px;
    padding-left: 10px;
}

.title, .musics {
    font-size: 22px;
    text-indent: 13rem;
    padding-top: 20px;
    text-decoration: underline;
    color: #FFFF;
}

.about {
    width: 53em;
    padding: 15px;
    margin-left: 12.3rem;
    line-height: 1.5;
    font-size: 18px;
    color: #FFFF;
}

.members {
    margin-top: 15px;
    font-size: 20px;
    text-decoration: underline;
    color: #FFFF;
}

.group__members {
    padding-top: 10px;
    margin-left: .4rem;
}

#artists__musics {
    display: grid;
    text-align: center;
    grid-template-areas: "musicsImage";
    grid-template-columns: 33.33% 33.33% 33.33%;
    gap: 2rem;
    padding: 0 6rem;
}

.musicsImage {
    border-radius: 0.6rem;
    box-shadow: 0 0.3rem 0.6rem #0009;
    width: 65%;
    margin-left: 0;
    margin-right: 0;
}

.musicsImage:hover {
    box-shadow: 0px 0px 5px 5px rgb(255, 255, 255);
}

.musicsName {
    position: relative;
    padding: 30px;
    margin: 0 auto;
}

.musicsName .musicsSinger {
    visibility: hidden;
    width: 150px;
    background-color: black; 
    color: #ffff; 
    border-radius: 8px;
    padding: 10px 10px;
    top: 89%;
    left: 50%;
    margin-left: -80px;
    position: absolute; 
}

.musicsName:hover  .musicsSinger {
    visibility: visible;
    z-index: 100;
}

button {
    display: flex;
    margin: 0 auto;
    cursor: pointer;
}

.load__more {
    background: #808080;
    border: 1px solid #000000;
    border-radius: 10px;
    color: #FFFF;
    padding: 5px;
}

/* Responsividade do site.*/  

@media screen and (min-width: 697.98px) and (max-width: 1200px){ /* Responsividade Tablets */

    .artist {
        width: 100%;
        height: auto;
    }

    .artist__img {
        width: 100%;
        height: 17rem;
    }

    .artist__img__circle {
        width: 8rem;
        height: 8rem;
        margin-top: -11rem;
    }

    .title, .musics {
        text-indent: 1rem;  
    }

    .about {
        width: 36.2em;
        margin-left: 1rem;
    }

    .musicsImage {
        width: 100%;
    }

    .musicsName .musicsSinger {
        width: 100px;
        margin-left: -60px;
    }
}

@media screen and (min-width: 339.98px) and (max-width: 697.97px){ /* Responsividade Celular */

    .body {
        zoom: 0.5;
    }

    .artist {
        width: 100%;
        background: none;
    }

    .artist__img {
        width: 44rem;
        height: 17rem;
        opacity: 1;
    }

    .title, .musics {
        text-indent: 1rem;  
        font-size: 25px;
    }

    .about {
        width: 32em;
        margin-left: 1rem;
        font-size: 20px;
    }

    .members {
        font-size: 25px;
    }

    #artists__musics {
        grid-template-columns: 50% 50%;
        padding: 0;
        gap: 2.5rem;
    }

    .musicsImage {
        width: 13rem;
    }

    .musicsName .musicsSinger {
        width: 150px;
        margin-left: -85px;
    }
}