@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto Mono", monospace;
    text-align: center; 
    margin: auto;
    background-color: #1e1e1e;
}

.container {
    text-align: center;
    padding: 25px;
    position: relative;
}

.page-title {
    font-family: 'Lobster', cursive;
    color: #e7e8e9;
    margin: 0 0 5px;
    font-size: 28pt;
}

.page-subtitle {
    color: #e7e8e9;
    margin-top: 1px;
    font-size: 17pt;
}

img {
    max-height: 165px;
    margin: 6px;
    border-radius: 10%;
}

img:hover {
    box-shadow: 0px 0px 5px 5px #e7e8e9;
}

#button-add {
    background-color: #e7e8e9;
    width: 120px;
    height: 30px;
    border-radius: 15px;
    margin-top: 15px;
    cursor: pointer;
}

#name,
#image,
#nameSinger,
#album{
    width: 180px;
    height: 30px;
    margin: 10px;
    padding: 3px;
    border-radius: 10px;
    text-align: center;
}

.cardMusicsName {
    position: relative;
    display: inline-block;
    padding: 30px;
    margin: 0 auto;
}

.cardMusicsName .cardSingerName {
    visibility: hidden;
    width: 150px;
    background-color: #394e6d; 
    color: #e7e8e9; 
    text-align: center;
    border-radius: 8px;
    padding: 8px 10px;
    top: 88%;
    left: 50%;
    margin-left: -80px;
    position: absolute; 
    z-index: 1;
}

.cardMusicsName:hover .cardSingerName {
    visibility: visible;
    z-index: 100;
}

.cardMusicsName:hover {
    transition: 1s;
    transform: translateY(-10px) scale(1);
}

label {
    color: #e7e8e9;
}

#crescentOrder, #descendingOrder {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    background-color: #394e6d;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
}

.btn::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #e7e8e9;
}

.btn:hover {
    cursor: pointer;
    background-color: #1e1e1e;
}

.btn.show {
    opacity: 1;
    visibility: visible;
}

button {
    margin: -15px auto;
    cursor: pointer;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
}

.load__more {
    background: #394e6d;
    border: 1px solid #dfdfdf77;
    border-radius: 10px;
    color: #e7e8e9;
    padding: 7px;
    width: 5rem;
}

.footer {
    text-align: center;
    padding: 0.6rem;
    margin-top: 1rem;
    background-color: #dfdfdfd3;
}